.dialogs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

.dialogs div{padding: 6px 0 ;}

.avaImg {
    width: 50px;
    border-radius: 10em;
    margin-right: 12px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 11fr;
}